* {
	font-family: Helvetica, sans-serif;
}
h1 {
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p {
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	border: 1px solid #9c9c9c;
	border-spacing: 0;
	width: 1200px;
}

thead td {
	background-color: #9c9c9c;
	color: white;
	font-weight: bold;
	padding: 10px;
}

tbody td {
	padding: 10px;
}

tbody tr:nth-child(even) td {
	background-color: #e3e3e3;
}